$type-ratios: (
  "minorSecond": 1.067,
  "majorSecond": 1.125,
  "minorThird": 1.2,
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618
);

@function type-ratio($key) {
  @return map-get($type-ratios, $key);
}

$type-base-size: 1.125rem;
$type-size-ratio: type-ratio("majorThird");

$type-levels: 4, 3, 2, 1;

$type-styles: ();
$level-size: $type-base-size;
@each $level in $type-levels {
  $level-size: $level-size * $type-size-ratio;
  $type-styles: map-merge($type-styles, (#{"h"}$level: $level-size));
  h#{$level},
  .h#{$level} {
    font-size: $level-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    @if ($type-size-ratio > 1.2) {
      $level-unitless: $level-size / ($level-size * 0 + 1);
      $fluid-reduction: if($level-size > 4, 0.5, 0.33);
      $fluid-min: $level-unitless - ($fluid-reduction * $level-unitless);
      $fluid-min: if($fluid-min > $type-base-size, $fluid-min, 1);
      $fluid-scaler: ($level-unitless - $fluid-min) + 3.1vw;

      font-size: clamp(
        #{$fluid-min}rem,
        #{$fluid-scaler} + 1rem,
        #{$level-size}
      );
    }
  }
}

@function type-style($key) {
  @return map-get($type-styles, $key);
}

:root {
  --max-width: 1200px;
  --border-radius: 0.75rem;
  --border-radius-child: 0.375rem;
  --padding-label: 0.25em 1em;
  --padding-card: 2em;
  --gap-icon: 0.125rem;
  --gap-label: 0.5rem;
  --line-height-single: 1.25;
  --line-height: 1.75;
  --line-height-double: 2.25;

  --font: Wotfard, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  --font-mono: "League Mono", ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-size-h1: max(2.441em, 2.441rem);
  --font-size-h2: max(1.953em, 1.953rem);
  --font-size-h3: max(1.563em, 1.563rem);
  --font-size-h4: max(1.25em, 1.25rem);
  --font-size-normal: max(1.125em, 1.125rem);
  --font-size-subtitle: max(1em, 1rem);
  --font-size-small: 0.8em;

  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --background: 252, 249, 247;
  --N100: 210, 211, 225;
  --N200: 164, 167, 196;
  --N300: 119, 123, 166;
  --N400: 83, 87, 128;
  --N500: 54, 56, 82;
  --foreground: 24, 25, 37;

  --primary: 9, 22, 158;
  --secondary: 200, 65, 20;
  --tertiary: 110, 102, 12;

  --hyperlink: ;
  --hyperlink-hover: ;

  --error: ;

  --transition-4x: 520ms ease;
  --transition-3x: 390ms ease;
  --transition-2x: 260ms ease;
  --transition: 130ms ease;

  --transform-right: translateX(0.25rem);
}

[data-theme="dark"] {
  --background: 24, 25, 37;
  --N100: 54, 56, 82;
  --N200: 83, 87, 128;
  --N300: 119, 123, 166;
  --N400: 164, 167, 196;
  --N500: 210, 211, 225;
  --foreground: 252, 249, 247;

  --primary: 111, 122, 246;
  --secondary: 236, 104, 60;
  --tertiary: 237, 225, 95;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: var(--transition-3x);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font);
  font-size: $type-base-size;
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

p, li, h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  margin-top: 0;
}

p.large {
  font-size: max(1.25em, min(3vw, 2em));
}

p:not(:last-child) {
  margin-bottom: 2em;
}

strong {
  font-weight: 600;
}

small {
  font-size: var(--font-size-small);
}

blockquote {
  margin-bottom: 2em;
  padding-left: 1em;
  position: relative;
  font-style: italic;
  
  &::after {
    width: 2px;
    height: 100%;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgb(var(--orange));
  }
}

code {
  font-family: var(--font-mono);
}

.space {
  @media (min-width: 320px) {
    max-width: 280px;
  }

  @media (min-width: 480px) {
    max-width: 440px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

#root {
  isolation: isolate;
}

.screenReaderVisible {
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}