.wrapper {
  position: relative !important;
  padding-top: 3.5625rem;
  margin-bottom: 3.5625rem;
  display: grid;
  gap: 1rem;

  @media (min-width: 320px) and (max-width: 991px) {
    gap: 3.5625rem;

    & > .body {
      order: 2;
    }

    & > .container {
      order: 1;
    }
  }
  
  @media (min-width: 992px) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

    & > .body {
      &.noIndex {
        grid-column: 1 / 13;
      }
  
      &.availableIndex {
        grid-column: 1 / 8;
      }
    }

    & .container {
      position: relative;
      grid-column: 9 / 13;

      & > .index.fixed {
        position: fixed;
        top: 3.5625rem;
        right: auto;
        left: unset;
        width: 368px;
      }
    }
  }

  & > .body {
    font-size: 1.125rem;
    line-height: 1.75em;

    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      scroll-margin-top: 2rem;
    }

    & img {
      margin-bottom: 2em;
      border-radius: var(--border-radius);
    }

    & strong {
      color: rgb(var(--tertiary));
    }

    & > ul {
      padding-left: 1.25rem;

      &:not(:last-child) {
        margin-bottom: 2em;
      }

      & > li {
        &:not(:last-of-type) {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  & > .container > .index {
    font-size: 1rem;

    & h2 {
      margin-bottom: 1rem;
      color: rgb(var(--secondary));
      font-size: 1em;
      font-weight: var(--font-weight-medium);
      text-transform: uppercase;
      letter-spacing: 0.125rem;
    }

    & ul {
      padding: 0;
      list-style-type: none;

      & li {
        & a {
          width: fit-content;
          margin-bottom: 0.5em;
          display: block;
          color: rgb(var(--N400));
          text-decoration: none;
          transition: var(--transition-3x);

          &:hover {
            color: rgb(var(--foreground));
          }
        }

        & ul {
          padding-left: 1.5rem;
        }
      }
    }
  }
}