.wrapper {
  margin-top: 3.5625rem;
  margin-bottom: 3.5625rem;
  display: grid;
  gap: 1rem;
  
  @media (min-width: 992px) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

    &  > .noIndex {
      grid-column: 1 / 13;
    }

    & > .availableIndex {
      grid-column: 1 / 8;
    }

    & > .index {
      grid-column: 9 / 13;
    }
  }

  & > .body {
  }

  & > .index {

    & > h2 {
      color: rgb(var(--secondary));
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      margin-bottom: 3rem;
    }
  }
}