.wrapper {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    padding: 0.125rem 0;
    color: rgb(var(--secondary));
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;

    & > span {
      color: rgb(var(--primary));
    }
  }

  & > a {
    width: fit-content;
    border-radius: calc(var(--border-radius) / 2);
    padding: 0.25rem 0.375rem;
    display: flex;
    align-items: center;
    font-family: var(--font);
    font-size: 1rem;
    background: rgb(var(--foreground), 0.1);
    color: rgb(var(--foreground));
    text-decoration: none;
    transition: var(--transition-2x);
  
    &:hover {
      color: rgb(var(--foreground), 0.8);
    }
  }
}