.hyperlink {
  display: flex;
  align-items: center;
  gap: var(--gap-icon);
  color: rgb(var(--foreground));
  text-decoration: none;
  font-weight: var(--font-weight-bold);

  & > svg {
    min-width: 1.5em;
    max-width: 1.5em;
    fill: rgb(var(--foreground));
    transition: var(--transition-2x);
  }

  &:hover > svg {
    fill: rgb(var(--primary));
    transform: var(--transform-right);
  }
}