.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (min-width: 768px) {
    margin: auto 3.5625rem;
  }

  & > span {
    color: rgb(var(--N400));
    max-height: 2.5rem;

    @media (min-width: 320px) and (max-width: 479px) {
      margin-bottom: 19px;
    }

    @media (min-width: 480px) and (max-width: 575px) {
      margin-bottom: 23px;
    }

    @media (min-width: 576px) {
      margin-bottom: 29px;
    }
  }
}