$type-ratios: (
  "minorSecond": 1.067,
  "majorSecond": 1.125,
  "minorThird": 1.2,
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618
);

@function type-ratio($key) {
  @return map-get($type-ratios, $key);
}

$type-base-size: 2.25rem;
$type-size-ratio: type-ratio("perfectFifth");

$type-levels: 4, 3, 2, 1;

$type-styles: ();
$level-size: $type-base-size;
@each $level in $type-levels {
  $level-size: $level-size * $type-size-ratio;
  $type-styles: map-merge($type-styles, (#{"h"}$level: $level-size));
  h#{$level},
  .h#{$level} {
    font-size: $level-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    @if ($type-size-ratio > 1.2) {
      $level-unitless: $level-size / ($level-size * 0 + 1);
      $fluid-reduction: if($level-size > 4, 0.5, 0.33);
      $fluid-min: $level-unitless - ($fluid-reduction * $level-unitless);
      $fluid-min: if($fluid-min > $type-base-size, $fluid-min, 1);
      $fluid-scaler: ($level-unitless - $fluid-min) + 3.1vw;

      font-size: clamp(
        #{$fluid-min}rem,
        #{$fluid-scaler} + 1rem,
        #{$level-size}
      );
    }
  }
}

@function type-style($key) {
  @return map-get($type-styles, $key);
}

:root {
  --font: Wotfard, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  --font-mono: "League Mono", ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --background: 24, 25, 37;
  --N100: 54, 56, 82;
  --N200: 83, 87, 128;
  --N300: 119, 123, 166;
  --N400: 164, 167, 196;
  --N500: 210, 211, 225;
  --foreground: 252, 249, 247;

  --primary: 111, 122, 246;
  --secondary: 236, 104, 60;
  --tertiary: 237, 225, 95;

  --transition: 130ms ease;
  --transform-right: translateX(0.25rem);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: var(--transition-3x);
}

body {
  min-height: 100svh;
  font-family: var(--font);
  font-size: $type-base-size;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

p, li, h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  margin-top: 0;
}

p:not(:last-child) {
  margin-bottom: 2em;
}

strong {
  font-weight: 600;
}

.space {
  @media (min-width: 320px) {
    max-width: 280px;
  }

  @media (min-width: 480px) {
    max-width: 440px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}