.wrapper {
  border-radius: var(--border-radius);
  padding: var(--padding-card);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(var(--N100));
  font-size: 1rem;

  & > .container {
    margin-bottom: 1.5rem;

    & > time {
      margin-bottom: 0.75rem;
      display: block;
      color: rgb(var(--N500));
      font-size: var(--font-size-small);
    }
  
    & > h2, h3, h4 {
      font-size: var(--font-size-h4);
      margin-bottom: 1.5rem;
    }
  
    p {
      line-height: var(--line-height);
      margin-bottom: 1.5rem;
    }
  }

  & > a {
    width: fit-content;
  }
}

.altWrapper {
  font-size: 1rem;

  & > time {
    margin-bottom: 0.75rem;
    display: block;
    color: rgb(var(--N500));
    font-size: var(--font-size-small);
  }

  & > h2, h3, h4 {
    font-size: var(--font-size-h4);
    margin-bottom: 1.5rem;
  }

  p {
    line-height: var(--line-height);
    margin-bottom: 1.5rem;
  }

  & > div {
    margin-bottom: 1.5rem;
  }

  & > a {
    width: fit-content;
  }
}