.wrapper > a {
  border-radius: var(--border-radius);
  padding: var(--padding-card);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(var(--N100));
  font-size: 1rem;
  transition: background var(--transition-2x);
  text-decoration: none;
  color: rgb(var(--foreground));

  &:hover {
    & > .container > h2,
    & > .container > h3,
    & > .container > h4 {
      color: rgb(var(--primary));
    }

    & > .cta > svg {
      fill: rgb(var(--primary));
      transform: var(--transform-right);
    }
  }

  & > .container {
    margin-bottom: 1.5rem;

    & > time {
      margin-bottom: 0.75rem;
      display: block;
      color: rgb(var(--N500));
      font-size: var(--font-size-small);
    }
  
    & > h2, h3, h4 {
      font-size: var(--font-size-h4);
      margin-bottom: 1.5rem;
      transition: color var(--transition-2x);
    }
  
    p {
      line-height: var(--line-height);

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  & > .cta {
    display: flex;
    align-items: center;
    gap: var(--gap-icon);
    color: rgb(var(--foreground));
    text-decoration: none;
    font-weight: var(--font-weight-bold);

    & > svg {
      min-width: 1.5em;
      max-width: 1.5em;
      fill: rgb(var(--foreground));
      transition: var(--transition-2x);
    }
  }
}

.altWrapper {
  font-size: 1rem;

  & > time {
    margin-bottom: 0.75rem;
    display: block;
    color: rgb(var(--N500));
    font-size: var(--font-size-small);
  }

  & > a {
    display: flex;
    width: fit-content;
    text-decoration: none;
    color: rgb(var(--foreground));

    &:hover {
      & > h2, h3, h4 {
        color: rgb(var(--primary));
      }
    }

    & > h2, h3, h4 {
      margin-bottom: 1.5rem;
      font-size: var(--font-size-h4);
      transition: color var(--transition-2x);
    }
  }

  p {
    line-height: var(--line-height);
    margin-bottom: 1.5rem;
  }

  & > div {
    margin-bottom: 1.5rem;
  }
}