.themeToggle {
  width: fit-content;
  height: 2.25rem;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;

  &:is(:hover, :focus-visible) > .sunAndMoon {
    & > :is(.moon, .sun) {
      fill: rgb(var(--foreground));
    }

    & > .sunBeams {
      stroke: rgb(var(--foreground));
    }
  }

  & > .sunAndMoon {
    & > :is(.moon, .sun, .sunBeams) {
      transform-origin: center;
    }

    & > :is(.moon, .sun) {
      fill: rgb(var(--foreground), 0.8);
    }

    & > .sunBeams {
      stroke: rgb(var(--foreground), 0.8);
      stroke-width: 2px;
      stroke-linecap: round;
    }
  }
}

[data-theme="dark"] .themeToggle {
  & > .sunAndMoon {
    & > .sun {
      transform: scale(1.75);
    }

    & > .sunBeams {
      opacity: 0;
    }

    & > .moon > circle {
      transform: translateX(-7px);
    }

    @supports (cx: 1) {
      & > .moon > circle {
        cx: 17;
        transform: translateX(0);
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .themeToggle {
    & > .sunAndMoon {
      & > .sun {
        transition: transform var(--transition-4x);
      }

      & > .sunBeams {
        transition: 
          transform var(--transition-4x), 
          opacity var(--transition-4x);
      }

      & > .moon > circle {
        transition: transform var(--transition-2x);
      }

      @supports (cx: 1) {
        & > .moon > circle {
          transition: cx var(--transition-2x);
        }
      }
    }
  }

  [data-theme="dark"] .themeToggle {
    & > .sunAndMoon {
      & > .sun {
        transition: var(--transition-2x);
        transform: scale(1.75);
      }

      & > .sunBeams {
        transition-duration: 130ms;
        transform: rotateZ(-25deg);
      }

      & > .moon > circle {
        transition-duration: 520ms;
        transition-delay: 260ms;
      }
    }
  }
}